.center {
	text-align: center !important;
}
.page_header {
  font-size: 2.4rem;
  font-family: "prenton"; }

.tags_span {
  font-size: 1.2rem;
  font-family: "prenton"; }

.project_desc_title {
  font-size: 1.2em;
  font-weight: 600;
  margin-right: 5px;
  color: #000;
  display: inline-block; }

.project_url {
  font-size: 1.2rem; }

.project_url:hover {
  font-weight: 800;
  text-decoration: underline;
  transition: font-weight 0.1s ease-in-out; }

.project_desc {
  margin-top: 15px; }

img.logo_centered {
  margin-left: 345px;
  margin-top: 25px; }

.copyright {
  margin-top: 225px; }

p.welcome_message {
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem; }

.project_tech {
  display: block;
  margin-bottom: 200px;
  padding-left: 20%; }

.tech_used_title {
  font-size: 1.4rem;
  margin-bottom: 15px;
  margin-top: 15px; }

#welcome-message {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 15px; }

#thumbnails a img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition: transform 0.4s ease; }

#thumbnails a img:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  transition: transform 0.4s ease; }

button {
  padding: 15px;
  background: transparent;
  border: 3px solid #000;
  font-weight: bold;
  color: #000;
  font-size: 1.1rem;
  box-sizing: border-box; }

button:hover {
  background: #000;
  color: #fff;
  border: 3px solid #fff;
  box-sizing: border-box; }

#nsr-button {
  background: transparent;
  color: #061438;
  border: 3px solid #061438; }

#nsr-button:hover {
  background: #061438;
  color: #fff;
  border: 3px solid #fff; }

#emg-button {
  background: transparent;
  color: #841c07;
  border: 3px solid #841c07; }

#emg-button:hover {
  background: #841c07;
  color: #fff;
  border: 3px solid #fff; }
  
#adamec-button {
	background: transparent;
	color: #EF4B22;
	border: 3px solid #EF4B22;
}

#adamec-button:hover {
	background: #EF4B22;
	color: #fff;
	border: 3px solid #fff;
}

#eldred-button {
	color: #BF2636;
	border: 3px solid #BF2636;
}
#eldred-button:hover {
	background: #BF2636;
	color: #fff;
	border: 3px solid #fff;
}

#honeyjawn-button {
	background: transparent;
	color: #272059 ;
	border: 3px solid #272059;	
}

#honeyjawn-button:hover {
	background: #272059;
	color: #fff;
	border: 3px solid #fff;
}

#prokko-button {
	background: transparent;
	color: #0F73BF;
	border: 3px solid #0F73BF;
}

#prokko-button:hover {
	background: #0F73BF;
	color: #F8852B;
	border: 3px solid #F8852B;	
}

#tailored-button {
	background: transparent;
	color: #FFCD00;
	border: 3px solid #FFCD00;
}

#tailored-button:hover {
	background: #FFCD00;
	color: #000;
	border: 3px solid #000;
}

#smc-button {
	background: transparent;
	color: #E56C11;
	border: 3px solid #E56C11;
}

#smc-button:hover {
	background: #E56C11;
	color: #000;
	border: 3px solid #000;
}

.list_left {
  float: left;
  width: 48.5%; }

.list_right {
  float: right;
  width: 48.5%; }

.tech_used_item {
  text-align: left; }

h2.project_header {
  font-size: 3rem;
  margin-bottom: -15px; }

.my_tech {
  margin-bottom: 15px;
  margin-right: 1%;
  opacity: 0.5;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  transition: transform 0.4s ease; }

.my_tech:hover {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition: transform 0.4s ease; }

#social-footer ul.social_icons {
  list-style-type: none;
  margin-left: 21.5%; }
  #social-footer ul.social_icons li.social_icon {
    list-style-type: none;
    display: inline;
    min-width: 36px;
    min-height: 36px;
    margin: 0 15px; }

li#twitter-icon a {
  color: #55acee; }

li#google-plus-icon a {
  color: #dd4b39; }

li#linkedin-icon a {
  color: #0074b4; }

li#github-icon a {
  color: #000; }

li#skype-icon a {
  color: #00aff0;
  cursor: hand !important r; }

li#skype-icon a:hover {
  cursor: hand !important; }

li#bitbucket-icon a {
  color: #1d4f83; }
  
li#email a {
	color: #000;
}

li.social_icon:hover {
  opacity: 0.65; }

:root {
  font: 500 16px "prenton";
  -webkit-font-smoothing: antialiased; }

#overlay-skype, .modal_window {
  opacity: 0;
  transition: 0.5s; }

#overlay-skype {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 175, 240, 0.45);
  pointer-events: none;
  z-index: 5000; }

#overlay-skype.open {
  opacity: 1;
  pointer-events: auto; }

.modal_window {
  position: fixed;
  width: 470px;
  height: 400px;
  margin: 100px auto 0px 38%;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 5px 12px rgba(15, 27, 39, 0.4);
  background: rgba(255, 255, 255, 0.8);
  -webkit-transform: translateY(80%) scale(0.8);
  transform: translateY(80%) scale(0.8);
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1.3);
  transition-delay: 0.4s; }

.open .modal_window {
  opacity: 1;
  -webkit-transform: none;
  transform: none; }

.modal_window .close {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 7px;
  top: 7px;
  text-indent: -9000px;
  background-image: url('../static/images/close.jpg'); }

#overlay-skype .modal_window {
  background: url('../static/images/skype-bg.jpg');
  background-size: 100% 100%; }

.modal_window_content {
  background: #fff;
  min-height: 100%;
  min-width: 470px;
  margin-left: -25px;
  opacity: 0.6; }
  .modal_window_content h1 {
    opacity: 1; }
  .modal_window_content h4 {
    opacity: 1; }

.modal_content {
  background: transparent;
  opacity: 1; }

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .modal_window .close {
    background-image: url('../static/images/close@2x.jpg');
    background-size: 100% 100%; }

  #overlay-skype .modal_window {
    background: url('../static/images/skype-bg@2x.jpg');
    background-size: 100% 100%; }

  .modal_window_content {
    background: #fff;
    opacity: 0.675; }

  .modal_content {
    background: transparent;
    opacity: 1; }
 }

.modal_window h1 {
  margin-bottom: 20px;
  font-weight: 700;
  color: #1A3547;
  text-align: center; }

h1.overlay_title {
  font-size: 2rem !important;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  text-align: center; }

#skype-contact-info h4 {
  font-size: 1.6rem;
  margin-top: 100px;
  margin-bottom: 5px;
  color: black;
  text-align: center; }

#skype-username {
  font-weight: normal;
  font-size: 1.6rem;
  color: black;
  text-align: center; }

/*# sourceMappingURL=style.map */